.parent{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    padding: 90px 0;
    flex-direction: column;
}

.projectOne{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.mainContainer{
    display: flex;
}

.mokupContainer{
    display: flex;
    width: 50%;
    height:100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mokup{
    object-fit: cover;
    width: 660px;
    height: 405px;
}

.mokupMobile{
    width: 177px;
    height: 357px;
    position: absolute;
    right: 25px;
    top:65px

}

.infoContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.titleProject{
   width: 100%;
   height: 9%;
    color: white;
     font-size: 40px;
     font-family: 'Poppins-Ligth';
    padding-bottom: 25px;

}

.year{
    width: 100%;
    height: 3%;
    color: white;
     font-size: 20px;
     font-family: 'Poppins-Ligth';
    padding-bottom: 25px;
}

.infoProject{
    width: 90%;
    height: 30%;
    color: white;
     font-size: 20px;
     text-align: justify;
     font-family: 'Poppins-Ligth';
    padding: 25px;
}

.stackContainer{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 24px;
    flex-direction: column;
}

.stackTitle{
    width: 100%;
    height: 50%;
    color: white;
     font-size: 20px;
     font-family: 'Poppins-Ligth';
}
.stackList{
    display: flex;
}

.stack{
    width: 110px;
    height: 30px;
    color: white;
    padding:20px;
     font-size: 20px;
     font-family: 'Poppins-Ligth';
}

.buttonsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.buttonGithub, .buttonLive{
    width: 120px;
    height: 50px;
    font-size: 15px;
    margin: 15px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Poppins-Ligth';

}

.coolLink {
    text-decoration: none;
    color:white
  }
  
  .coolLink::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background:white;
    transition: width 0.1s;
  }
  
  .coolLink:hover::after {
    width: 100%;
    transition: width 0.5s;
  }

  @media screen and (min-width:907px) and (max-width: 1329px) {
    .mokupMobile{
        width: 140px;
        height: 290px;
        left: 72%;
        top: 24%;
    }

  }

  @media screen and (min-width:571px) and (max-width: 906px) {
    .parent{
        flex-direction: column;
        padding: 53px 0
        }

        .mainContainer{
            flex-direction: column;
        }
    
        .titleProject{
            width: 100%;
            height: 2%;
        }
    
        .year{
            padding-bottom: 0;
        }
    
        .mokupContainer{
            display: flex;
            width: 100%;
            height:30%;
        }
    
        .mokup{
          width: 640px;
        height: 370px;
        }
    
        .mokupMobile{
            width: 148px;
            height: 295px;
            left: 72%;
            top: 24%;
        }
    
        .infoContainer{
            width: 100%;
            height: 50%;
        }
    

  }


  @media only screen and (max-width: 570px) {
    .parent{
    flex-direction: column;
    padding: 53px 0
    }

    .mainContainer{
        flex-direction: column;
    }

    .titleProject{
        width: 100%;
        height: 2%;
    }

    .year{
        padding-bottom: 0;
    }

    .mokupContainer{
        display: flex;
        width: 100%;
        height:30%;
    }

    .mokup{
      width: 640px;
    height: 370px;
    }

    .mokupMobile{
        width: 93px;
        height: 197px;
        left: 72%;
        top: 24%;
    }

    .infoContainer{
        width: 100%;
        height: 50%;
    }

  }