.parent{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titleProject{
    width: 80%;
    height: 20%;
    color: white;
     font-size: 25px;
    font-family: 'Quicksand-Light',sans-serif;
    padding-bottom: 25px;

}
.projectOne{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.mokupContainer{
    display: flex;
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mokup{
    object-fit: cover;
    width: 550px;
    height: 305px;
}

.mokupMobile{
    width: 150px;
    height: 300px;
    position: absolute;
    right: 55px;
    top:35px

}

.buttonsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.buttonGithub, .buttonLive{
    width: 120px;
    height: 50px;
    font-size: 15px;
    margin: 15px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Poppins-Ligth';

}