.parent{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titleProject{
    width: 100%;
    height: 20%;
    color: white;
     font-size: 25px;
    font-family: 'Quicksand-Light',sans-serif;

}
.projectOne{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mokup{
    object-fit: cover;
    width: 600px;
    height: 355px;
}