.parent{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 40px;
    color: black;
    font-family: 'Poppins-Ligth';

}

.body{
    font-family: 'Poppins-Ligth';
    font-size: 26px;
    padding: 15px 10px;
    color: black;
    text-align: justify;
    height: 92%;
    width: 87%;
}

.iconsBarContact{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.githubIcon, .linkedinIcon, .twitterIcon{
    color:black;
    font-size: 60px;
    height: 100%;
    width: 20%;
    padding:0 20px;
    padding-bottom: 8px;
}

.githubIcon:hover, .linkedinIcon:hover, .twitterIcon:hover {
    color: white;
  }

