.parent{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 40px;
    color: white;
    font-family: 'Poppins-Ligth';

}

.body{
    font-family: 'Poppins-Ligth';
    font-size: 26px;
    padding: 15px 10px;
    color: white;
    text-align: justify;
    height: 92%;
    width: 87%;
}

.githubIcon, .linkedinIcon, .twitterIcon{
    color:white;
    font-size: 50px;
    height: 100%;
    width: 20%;
    padding:0 20px;
}

.githubIcon:hover, .linkedinIcon:hover, .twitterIcon:hover {
    color: rgb(236, 182, 2);
  }

