.parent{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.fname, .fmail{
    height: 12%;
    margin: 10px;
    border:none;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 5px;

}

.fbody{
    height: 50%;
    margin: 10px;
    border:none;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 5px;


}

button{
    height: 12%;
    width: 20%;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 8px;
    background-color: black;
    color: white;
}