.parent{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.fname, .fmail{
    height: 12%;
    margin: 10px;
    border:none;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 5px;

}

.fbody{
    height: 50%;
    margin: 10px;
    border:none;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 5px;


}

.DVersion{
    height: 12%;
    width: 20%;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.MVersion{
    display: none;
}

@media screen and (min-width:907px) and (max-width: 1329px) {
    form{
        width: 90%;
    }

    .DVersion{
        height: 12%;
        width: 30%;
    }
}

@media screen and (min-width:571px) and (max-width: 906px) {

    .parent{
        width: 100%;
        height: 20%;
   }
   
   .parent > form{
       display: none;
   }
   
   .MVersion{
       display: flex;
       height: 55%;
       width: 32%;
       font-family: 'Poppins-Ligth';
       font-size: 18px;
       border-radius: 8px;
       background-color: black;
       color: white;
       justify-content: center;
       align-items: center;
   }
   
   .DVersion{
     display: none;
   }
   

}

@media only screen and (max-width: 590px) {

.parent{
     width: 100%;
     height: 20%;
}

.parent > form{
    display: none;
}

.MVersion{
    display: flex;
    height: 55%;
    width: 45%;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 8px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.DVersion{
  display: none;
}


}