.modal{
    display: none;
}

@media only screen and (max-width: 570px) {




.modal{
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.modalContent{
    width: 80%;
    height: 80%;
    background-color: transparent;
    display: flex;
}

.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.closebContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    padding-top: 15px;
   
}

.closeb{
    height: 100%;
    width: 12%;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 50%;
    background-color: rgb(236, 182, 2);
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.fname, .fmail{
    width: 100%;
    height: 12%;
    margin: 10px;
    border:black solid 1px;
    font-family: 'Poppins-Ligth';
    font-size: 16px;
    border-radius: 5px;

}

.fbody{
    width: 100%;
    height: 50%;
    margin: 10px;
    border:none;
    font-family: 'Poppins-Ligth';
    font-size: 16px;
    border-radius: 5px;

}

.DVersion{
    height: 12%;
    width: 58%;
    font-family: 'Poppins-Ligth';
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(236, 182, 2);
    color: black;
}

}