
.navContainer{
    padding-top: 13px;
    height: 7%;
    display: flex;
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    background-color: black;
    
}

.bar{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.home, .about, .projects, .contact{
    padding: 10px 35px 0 0;
    height: 100%;
    cursor: pointer;
}

.home{
    padding-left: 70px;
}

.homeText, .aboutText, .projectsText, .contactText{
    width: 42px;
    color:white;
    font-size: 12px;
    font-family: 'Quicksand-Light', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.aboutText{
    width: 45px;
}

.projectsText, .contactText{
    width: 70px;
}

.coolLink {
    text-decoration: none;
    color:white
  }
  
  .coolLink::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background:white;
    transition: width 0.1s;
  }
  
  .coolLink:hover::after {
    width: 100%;
    transition: width 0.5s;
  }

.iconsBar{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.githubIcon, .linkedinIcon, .twitterIcon{
    color:white;
    font-size: 40px;
    height: 100%;
    width: 20%;
    padding:0 20px;
    padding-bottom: 8px;
}

.githubIcon:hover, .linkedinIcon:hover, .twitterIcon:hover {
    color: rgb(236, 182, 2);
  }

  .githubIcon{
      padding-left: 150px;
  }

  @media screen and (min-width:571px) and (max-width: 906px) {
    .home, .about, .projects, .contact{
        padding: 5px 25px 0 0;
    }

    .home{
        padding-left: 50px;
    }
    
    .homeText, .aboutText, .projectsText, .contactText{
        width: 21px;
        font-size: 11px;
        letter-spacing: 1px;
    }

    .githubIcon, .linkedinIcon, .twitterIcon{
        padding-bottom: 10px;
    }

    .iconsBar{
        height: 85%;
        width: 46%;
        justify-content: flex-end;
        align-content: flex-end;
    }

  }

  @media only screen and (max-width: 570px) {
    .home, .about, .projects, .contact{
        padding: 5px 25px 0 0;
    }

    .home{
        padding-left: 50px;
    }
    
    .homeText, .aboutText, .projectsText, .contactText{
        width: 21px;
        font-size: 11px;
        letter-spacing: 1px;
    }

    .iconsBar{
        display: none;
    }

    .bar{
        width: 90%;
    }
  }
