body, html, .parent{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 182, 2);
}

body > div{
    width: 100%;
    height: 100%;

}

.parent{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
}

.photoContainer{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.profileAna{
    width:340px;
    height: 438px;

}

@media screen and (min-width:907px) and (max-width: 1329px) {
    .photoContainer{
        width: 350px;
        height: 450px;
    }

    .profileAna{
        width:290px;
        height: 388px;
    
    }
}


@media screen and (min-width:571px) and (max-width: 906px) {
    .parent{
        width: 0;
        height: 0;
    }
    
    .photoContainer{
     display: none;
    }

}

@media only screen and (max-width: 570px) {

.parent{
    width: 0;
    height: 0;
}

.photoContainer{
 display: none;
}
}